<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>Login</h2>

  <div class="control-row">
    <div class="control no-margin">
      <label for="email">Email</label>
      <input id="email" type="email" [formControl]="form.controls.email" required />
    </div>

    <div class="control no-margin">
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password" />
    </div>

    <button class="button">Login</button>
  </div>
  @if(emailErrors) {
    <p class="control-error">Email is required</p>
  }
  @if(passwordErrors) {
    <p class="control-error">Password is required (must be at least 6 characters and contain '?'.)</p>
  }
</form>
<!-- @(if(form.controls.email.touched && form.controls.email.dirty && form.controls.email.invalid) {
  <p class="control-error">Email is required</p> 
}) -->
